<div id="main">
    <div id="left">
        <div class="title--header">
            <h3>Main Productions</h3>
        </div>
        @Html.Action("LoadProductions", "RenderProduct")
    </div>
    <div id="right">
        <!-- begin slider -->
        <div class="slider">
            <img src="~/Content/Client/assets/images/banner1.jpg" alt="">
        </div>
        <!-- end slider -->
        <!-- begin product -->
        <div class="product">
        </div>
        <!-- end product -->
    </div>
</div>